flows/Force_Sign_out-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Force_Sign_off</name>
        <label>Force Sign off</label>
        <locationX>467</locationX>
        <locationY>442</locationY>
        <apexClass>ClsForceSignOffUsersFromDevices</apexClass>
        <connector>
            <targetReference>Is_sign_off_successful</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Continue</name>
        <choiceText>Continue</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DE_Cancel</name>
        <choiceText>DE Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DE Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>DE_Continue</name>
        <choiceText>DE Continue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DE Continue</stringValue>
        </value>
    </choices>
    <choices>
        <name>JP_Cancel</name>
        <choiceText>いいえ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JP Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>JP_Continue</name>
        <choiceText>はい</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JP Continue</stringValue>
        </value>
    </choices>
    <constants>
        <name>TaskDescDE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The attached Account user has been signed off from all devices</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskDescEN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The attached Account user has been signed off from all devices</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskDescJP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The attached Account user has been signed off from all devices</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskSubjectDE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User sign off from all devices</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskSubjectEN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User sign off from all devices</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskSubjectJP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User sign off from all devices</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DecisionSignoff</name>
        <label>DecisionSignoff</label>
        <locationX>222</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContinueSignoff</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>JPYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JP_Continue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YesNoDE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DE_Continue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_user_id</targetReference>
            </connector>
            <label>ContinueSignoff</label>
        </rules>
        <rules>
            <name>CancelSignOffDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesNoDE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DE_Cancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_DE</targetReference>
            </connector>
            <label>CancelSignOffDE</label>
        </rules>
        <rules>
            <name>CancelSignOffJP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JPYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JP_Cancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_JP</targetReference>
            </connector>
            <label>CancelSignOffJP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_sign_off_successful</name>
        <label>Is sign off successful?</label>
        <locationX>652</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SuccessfulDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_screen_DE</targetReference>
            </connector>
            <label>SuccessfulDE</label>
        </rules>
        <rules>
            <name>SuccessfulJP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_screen_JP</targetReference>
            </connector>
            <label>SuccessfulJP</label>
        </rules>
        <rules>
            <name>FailureDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FALSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failure_page_DE</targetReference>
            </connector>
            <label>FailureDE</label>
        </rules>
        <rules>
            <name>FailureJP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FALSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failure_page_JP</targetReference>
            </connector>
            <label>FailureJP</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_language</name>
        <label>What is the language?</label>
        <locationX>27</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>JP_language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_JP</targetReference>
            </connector>
            <label>JP language</label>
        </rules>
        <rules>
            <name>DE_language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_DE</targetReference>
            </connector>
            <label>DE language</label>
        </rules>
        <rules>
            <name>Neither</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <label>Neither</label>
        </rules>
    </decisions>
    <interviewLabel>Force Sign out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Force Sign out</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Country_of_Account</name>
        <label>Find Country of Account</label>
        <locationX>26</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_language</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CountryCode</assignToReference>
            <field>CountryCode</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>find_user_id</name>
        <label>find user id</label>
        <locationX>463</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Force_Sign_off</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Cancelled_DE</name>
        <label>Cancelled DE</label>
        <locationX>489</locationX>
        <locationY>165</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenDE</name>
            <fieldText>You have cancelled your device sign off request. Please close the window to exit.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Cancelled_JP</name>
        <label>Cancelled JP</label>
        <locationX>487</locationX>
        <locationY>246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenJP</name>
            <fieldText>デバイスのサインオフ要求をキャンセルしました。ウィンドウを閉じて終了してください。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Confirmation_DE</name>
        <label>Confirmation DE</label>
        <locationX>196</locationX>
        <locationY>341</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisionSignoff</targetReference>
        </connector>
        <fields>
            <name>DEMessage</name>
            <fieldText>[DE] Are you sure you want to sign off the user from all devices?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesNoDE</name>
            <choiceReferences>DE_Continue</choiceReferences>
            <choiceReferences>DE_Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Confirmation_JP</name>
        <label>Confirmation JP</label>
        <locationX>57</locationX>
        <locationY>345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisionSignoff</targetReference>
        </connector>
        <fields>
            <name>MessageJP</name>
            <fieldText>ユーザーをすべてのデバイスからサインオフしますか？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JPYesNo</name>
            <choiceReferences>JP_Continue</choiceReferences>
            <choiceReferences>JP_Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Failure_page_DE</name>
        <label>Failure page DE</label>
        <locationX>909</locationX>
        <locationY>684</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageFailureDE</name>
            <fieldText>Your device sign off process has failed owing to system problems. Please close the window and start the process again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Failure_page_JP</name>
        <label>Failure page JP</label>
        <locationX>907</locationX>
        <locationY>780</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageFailureJP</name>
            <fieldText>デバイスのサインオフ要求をキャンセルしました。ウィンドウを閉じて終了してください。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success_screen_DE</name>
        <label>Success screen DE</label>
        <locationX>916</locationX>
        <locationY>339</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageDE</name>
            <fieldText>Your device sign off request has been successfully completed. Please close the window to exit.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success_screen_JP</name>
        <label>Success screen JP</label>
        <locationX>916</locationX>
        <locationY>442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageJP1</name>
            <fieldText>デバイスのサインオフ要求が完了しました。ウィンドウを閉じて終了してください。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Find_Country_of_Account</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>EN</stringValue>
        </value>
    </variables>
    <variables>
        <name>userID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
