flows/forgot_password-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>forgot_pwd</name>
        <label>forgot pwd</label>
        <locationX>945</locationX>
        <locationY>130</locationY>
        <apexClass>ClsResetPassword</apexClass>
        <connector>
            <targetReference>Create_Pwd_reset_task</targetReference>
        </connector>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>InputUserName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>CancelDE</name>
        <choiceText>CancelDE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CancelDE</stringValue>
        </value>
    </choices>
    <choices>
        <name>CancelJP</name>
        <choiceText>いいえ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_don_t_want_to_go_ahead</name>
        <choiceText>I don&apos;t want to go ahead</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Response_No</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Response_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>I want to go ahead</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>YesDE</name>
        <choiceText>YesDE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YesDE</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesJP</name>
        <choiceText>はい</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YesJP</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Language_check1</name>
        <label>Language check1</label>
        <locationX>1113</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>JA_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedJP</targetReference>
            </connector>
            <label>JA user</label>
        </rules>
        <rules>
            <name>DE_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedDE</targetReference>
            </connector>
            <label>DE user</label>
        </rules>
        <rules>
            <name>EN_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedEN</targetReference>
            </connector>
            <label>EN user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Check_2</name>
        <label>Language Check 2</label>
        <locationX>228</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>JP_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_or_continue_JP</targetReference>
            </connector>
            <label>JP User</label>
        </rules>
        <rules>
            <name>DE_user1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DE_Continue_or_Cancel</targetReference>
            </connector>
            <label>DE user</label>
        </rules>
        <rules>
            <name>Other_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>confirm</targetReference>
            </connector>
            <label>Other user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_Proceed</name>
        <label>Want to Proceed?</label>
        <locationX>612</locationX>
        <locationY>21</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_customer_response</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Response_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirmation_DE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesDE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JP_Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesJP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_username</targetReference>
            </connector>
            <label>Check customer response</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Response_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Cancelled</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Cancel_DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmation_DE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelDE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_cancelled_DE</targetReference>
            </connector>
            <label>Cancel DE</label>
        </rules>
        <rules>
            <name>Cancel_JP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JP_Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelJP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Cancelled_JP</targetReference>
            </connector>
            <label>Cancel JP</label>
        </rules>
    </decisions>
    <interviewLabel>forgot password {!$Flow.CurrentDateTime}</interviewLabel>
    <label>forgot password</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pwd_reset_task</name>
        <label>Create Pwd reset task</label>
        <locationX>1108</locationX>
        <locationY>129</locationY>
        <connector>
            <targetReference>Language_check1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Password reset done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Password Reset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_out_language_of_Account</name>
        <label>Find out language of Account</label>
        <locationX>63</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language_Check_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CountryCode</assignToReference>
            <field>CountryCode</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_username</name>
        <label>Lookup username</label>
        <locationX>941</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forgot_pwd</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>InputUserName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Cancel_or_continue_JP</name>
        <label>Cancel or continue JP</label>
        <locationX>421</locationX>
        <locationY>2</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Want_to_Proceed</targetReference>
        </connector>
        <fields>
            <name>Confirmation_JP</name>
            <fieldText>このユーザーのパスワードをリセットしますか？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JP_Choices</name>
            <choiceReferences>YesJP</choiceReferences>
            <choiceReferences>CancelJP</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CompletedDE</name>
        <label>CompletedDE</label>
        <locationX>987</locationX>
        <locationY>337</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompleteDE</name>
            <fieldText>Your password reset request has been completed. Please close the window to exit.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>CompletedEN</name>
        <label>CompletedEN</label>
        <locationX>1265</locationX>
        <locationY>334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompleteEN</name>
            <fieldText>Your password reset request has been completed. Please close the window to exit.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>CompletedJP</name>
        <label>CompletedJP</label>
        <locationX>1126</locationX>
        <locationY>335</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompleteJP</name>
            <fieldText>パスワードのリセット要求が完了しました。ウィンドウを閉じて終了してください。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>confirm</name>
        <label>Are you sure you want to reset the password?</label>
        <locationX>425</locationX>
        <locationY>159</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Want_to_Proceed</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>Are you sure you want to reset password for this customer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserResponse</name>
            <choiceReferences>Response_Yes</choiceReferences>
            <choiceReferences>Response_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>DE_Continue_or_Cancel</name>
        <label>DE Continue or Cancel</label>
        <locationX>426</locationX>
        <locationY>79</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Want_to_Proceed</targetReference>
        </connector>
        <fields>
            <name>ConfirmationDE</name>
            <fieldText>Are you sure you want to reset password for this customer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_DE</name>
            <choiceReferences>YesDE</choiceReferences>
            <choiceReferences>CancelDE</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Request_Cancelled</name>
        <label>Request Cancelled</label>
        <locationX>825</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CancellationText</name>
            <fieldText>Your reset password request has been cancelled. Please close the window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Request_cancelled_DE</name>
        <label>Request cancelled DE</label>
        <locationX>671</locationX>
        <locationY>434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextmessageDE</name>
            <fieldText>Your reset password request has been cancelled. Please close the window</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Request_Cancelled_JP</name>
        <label>Request Cancelled JP</label>
        <locationX>515</locationX>
        <locationY>431</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cancelledJP</name>
            <fieldText>パスワードのリセット要求がキャンセルされました。ウィンドウを閉じてください</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Find_out_language_of_Account</startElementReference>
    <variables>
        <description>Id of the starting account</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
