flows/Resolve_Case-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Find_out_country_code</name>
        <label>Find out country code</label>
        <locationX>450</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_country_code_JP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Japanese_confirmation_screen</targetReference>
            </connector>
            <label>Is country code JP?</label>
        </rules>
        <rules>
            <name>Is_country_code_DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>German_confirmation_screen</targetReference>
            </connector>
            <label>Is country code DE?</label>
        </rules>
        <rules>
            <name>Is_it_others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OthersConfirmation</targetReference>
            </connector>
            <label>Is it others?</label>
        </rules>
    </decisions>
    <interviewLabel>Resolve Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resolve Case</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_countrycode_of_user</name>
        <label>Find countrycode of user</label>
        <locationX>298</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_out_country_code</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CountryCode</assignToReference>
            <field>CountryCode</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_to_Resolved</name>
        <label>Update Case to Resolved</label>
        <locationX>143</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Find_countrycode_of_user</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>German_confirmation_screen</name>
        <label>German confirmation screen</label>
        <locationX>610</locationX>
        <locationY>44</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DEConfirmation</name>
            <fieldText>The case has been resolved, and a confirmation email has been sent to the user.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Japanese_confirmation_screen</name>
        <label>Japanese confirmation screen</label>
        <locationX>735</locationX>
        <locationY>135</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>JPConfirmation</name>
            <fieldText>The case has been resolved, and a confirmation email has been sent to the user.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>OthersConfirmation</name>
        <label>OthersConfirmation</label>
        <locationX>611</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMes</name>
            <fieldText>The case has been resolved, and a confirmation email has been sent to the user.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Update_Case_to_Resolved</startElementReference>
    <variables>
        <description>Id of the case</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
